<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> {{ page.title | default: site.title }}</title>
    <meta name="title" content="{{ page.title }}" />
    <meta name="description" content="{{ page.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

<meta property="og:title" content="{{page.title | default: site.title }}">
<meta property="og:description" content="{{page.opengraph.description | default: page.description}}">
<meta property="og:image" content="{{page.image.path | default: "/../../assets/img/blog/hero.png"}}"">
<meta property="og:url" content="{{site.url}}{{page.url}}">	