                     <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title" style="color: #2d2d2d;">Recent Post</h3>
                        
                        {% for post in site.posts reversed limit:4 %}
                        <div class="media post_item">
                           <img src="{{ post.image.path | url }}" alt="{{ post.title }}" width="80" height="80">
                           <div class="media-body">
                              <a href="{{ post.url }}">
                                 <h3 style="color: #2d2d2d;">{{ post.title }}</h3>
                              </a>
                              <p>{{ post.date | date: "%B %d, %Y" }}</p>
                           </div>
                        </div>
                        {% endfor %}
                     </aside>