<!-- Testimonial Loop Component -->
{% for testimonial in page.testimonials %}
<div class="single-testimonial text-center">
    <div class="testimonial-caption">
        <!-- founder -->
        <div class="testimonial-founder">
            <div class="founder-img mb-40">
                {% if testimonial.image and testimonial.image != "" %}
                <img src="{{ testimonial.image }}" alt="{{ testimonial.name }}">
                {% else %}
                <img src="assets/img/gallery/testimonial.png" alt="{{ testimonial.name }}">
                {% endif %}
                <span>{{ testimonial.name }}</span>
                <p>{{ testimonial.position }}</p>
            </div>
        </div>
        <div class="testimonial-top-cap">
            <p>"{{ testimonial.testimonial }}"</p>
        </div>
    </div>
</div>
{% endfor %}