        
        {%assign bg_url="https://fpoimg.com/400x350?text=Preview&bg_color=e5b136&text_color=e5b136" %}


        {%assign section_bg_url="https://fpoimg.com/400x350?text=Preview&bg_color=fff&text_color=fff" %}

        {%assign action_text="Lets Chenge The World With Humanity"%}

        {%assign action_button_text="Become A Volunteer"%}

        {%assign action_url="#"%}
        
        {%if include.bg_url %}

        {%assign bg_url=include.bg_url %}

        {%endif %}

 {%if include.section_bg_url %}

        {%assign section_bg_url=include.section_bg_url %}

        {%endif %}

        {%if include.action_text %}

        {%assign action_text=include.action_text %}

        {%endif %}

        {%if include.action_url %}

        {%assign action_url=include.action_url %}

        {%endif %}

        {%if include.action_button_text %}

        {%assign action_button_text=include.action_button_text %}

        {%endif %}


        
        <section class="wantToWork-area" data-background={{section_bg_url}}>
            <div class="container">
                <div class="wants-wrapper w-padding2  section-bg" data-background={{bg_url}}>
                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-5 col-lg-9 col-md-8">
                            <div class="wantToWork-caption wantToWork-caption2">
                                <h2>{{action_text}}</h2>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4">
                            <a href={{action_url}}" class="btn white-btn f-right sm-left">{{action_button_text}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>