<!doctype html>
<html class="no-js" lang="zxx">
<head>
    {% include blog/head_import.html %}
</head>
<body>
    <!--? Preloader Start -->
    {% include components/preloader.html%}
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        {% include components/header_menu.html %}
        <!-- Header End -->
    </header>
    <main>
        <!--? Hero Start -->
        <div class="blog-hero bg-cover no-repeat translate-middle" data-background="../assets/img/blog/hero.png">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">
                                <!-- <h2>Blog</h2> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!--? Blog Area Start-->

   {% assign pinned_posts = site.posts | where: "pin", true %}
   
   {% assign regular_posts = paginator.posts | where: "pin", false  %} 



        <section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    <h4 style="color: #2d2d2d;">Featured Post</h4>
                {% for post in pinned_posts %}
                    <article class="blog_item">
                     <a  href="{{ post.url | relative_url }}">   <div class="blog_item_img">
                            {% if post.image %}
                            <img class="card-img rounded-0" src="{{ post.image.path | relative_url }}" alt="{{ post.image.alt | default:post.title }}">
                            {% endif %}
                            <a href="{{ post.url | relative_url }}" class="blog_item_date">
                                <h3>{{ post.date | date: "%-d" }}</h3>
                                <p>{{ post.date | date: "%b" }}</p>
                            </a>
                        </div></a>
                        <div class="blog_details">
                            <a class="d-inline-block" href="{{ post.url | relative_url }}">
                                <h2 class="blog-head" style="color: #2d2d2d;">{{ post.title }}</h2>
                            </a>
                            <p>{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
                            <ul class="blog-info-link">
                                {% if post.categories %}
                                <li><a href="#"><i class="fa fa-user"></i> {{ post.author.name | join: ", " }}</a></li>
                                {% endif %}
                                {% if post.comments %}
                                <li><a href="#"><i class="fa fa-comments"></i> {{ post.categories }} Comments</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </article>
                    {% endfor %}
                    <hr>

                    <h4 style="color: #2d2d2d;">Recent Posts</h4>
                    {% for post in regular_posts %}

                    <article class="blog_item">
                                          <a  href="{{ post.url | relative_url }}">     <div class="blog_item_img">
                            {% if post.image %}
                            <img class="card-img rounded-0" src="{{ post.image.path | relative_url }}" alt="{{ post.image.alt | default:post.title }}">
                            {% endif %}
                            <a href="{{ post.url | relative_url }}" class="blog_item_date">
                                <h3>{{ post.date | date: "%-d" }}</h3>
                                <p>{{ post.date | date: "%b" }}</p>
                            </a>
                        </div>
                        </a>
                        <div class="blog_details">
                            <a class="d-inline-block" href="{{ post.url | relative_url }}">
                                <h2 class="blog-head" style="color: #2d2d2d;">{{ post.title }}</h2>
                            </a>
                            <p>{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
                            <ul class="blog-info-link">
                                {% if post.categories %}
                                <li><a href="#"><i class="fa fa-user"></i> {{ post.author.name | join: ", " }}</a></li>
                                {% endif %}
                                {% if post.comments %}
                                <li><a href="#"><i class="fa fa-comments"></i> {{ post.categories }} Comments</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </article>
                    {% endfor %}

                    {% if paginator.total_pages > 1 %}
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            {% if paginator.previous_page %}
                            <li class="page-item">
                                <a href="{{ paginator.previous_page_path | relative_url }}" class="page-link" aria-label="Previous">
                                    <i class="ti-angle-left"></i>
                                </a>
                            </li>
                            {% endif %}

                            {% for page in (1..paginator.total_pages) %}
                            <li class="page-item {% if page == paginator.page %}active{% endif %}">
                                {% if page == 1 %}
                                <a class="page-link" href="{{ '/blog/' | relative_url }}">{{ page }}</a>
                                {% else %}
                                <a class="page-link" href="{{ site.paginate_path | relative_url| replace: 'page:num','blog/:num.html' | replace: ':num', page }}">{{ page }}</a>
                                {% endif %}
                            </li>
                            {% endfor %}

                            {% if paginator.next_page %}
                            <li class="page-item">
                                <a href="{{ paginator.next_page_path | relative_url }}" class="page-link" aria-label="Next">
                                    <i class="ti-angle-right"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="#" id="search-form">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="search-input" placeholder='Search Keyword'
                                        onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Search Keyword'"
                                        autocomplete="off">
                                    <div class="input-group-append">
                                        <button class="btns" type="button" id="search-button"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                type="submit">Search</button>
                        </form>
                        <!-- Search loading indicator -->
                        <div id="search-loading" class="text-center mt-2" style="display: none;">
                            <small class="text-muted">Searching...</small>
                        </div>
                    </aside>
                     {%include components/category_widget.html %}
                     {%include components/recent_posts.html %}
                    <!-- Newsletter Widget -->

                     {%include components/news_letter_widget.html post_url="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"%}
                </div>
            </div>
        </div>
    </div>
</section>
{%include components/want_to_work_click_to_action.html  action_button_text="စာမူပေးပို့ရန်" action_text='"အရောင်သွေးစုံ အတွေးအမြင်များ မှသည် ပါဝင်ပေါင်းစပ် အနာဂတ်ဆီသို့"'  %}
<!-- Include Lunr.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.9/lunr.min.js"></script>
<!-- Include Search Script -->
<script src="{{ '/assets/js/blog_search.js' | relative_url }}"></script>
        <!-- Blog Area End -->
    </main>

    {% include components/footer.html %} 


    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>
      <!-- JS here -->

    {% include blog/script_import.html %}
     
    </body>
</html>