<!doctype html>
<html class="no-js" lang="zxx">
<head>
  {% include blog_details/head_import.html %}
</head>

<body>
   <!--? Preloader Start -->
   {% include components/preloader.html%}
   <!-- Preloader Start -->
   <header>
      <!-- Header Start -->
      {% include components/header_menu.html %}
      <!-- Header End -->
  </header>
   <main>
      <!--? Hero Start -->
      <div class="slider-area2">
         <div class="slider-height2 d-flex align-items-center">
               <div class="container">
                  <div class="row">
                     <div class="col-xl-12">
                           <div class="hero-cap hero-cap2 pt-20 text-center">
                              <h2>{{page.title}}</h2>
                           </div>
                     </div>
                  </div>
               </div>
         </div>
      </div>
      <!-- Hero End -->
      <!--? Blog Area Start -->
      <section class="blog_area single-post-area section-padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 posts-list">
                  <div class="single-post">
                     <div class="feature-img">
                        <img class="img-fluid" src="{{page.image.path}}" alt="">
                     </div>
                     <div class="blog_details">
                        <h2 style="color: #2d2d2d;">{{page.subtitle|default:page.title}}
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                           <li><a href="#"><i class="fa fa-user"></i> {{ page.categories | join: ", " }}</a></li>
                           
                        </ul>
                     {{page.content}}
                     </div>
                  </div>
                  <div class="navigation-top">
                     <div class="d-sm-flex justify-content-between text-center">
                      
                        <div class="col-sm-4 text-center my-2 my-sm-0">
                           <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                        </div>
                        <ul class="social-icons">
                           <li><a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a></li>
                           <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                           <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                           <li><a href="#"><i class="fab fa-behance"></i></a></li>
                        </ul>
                     </div>
                     <div class="navigation-area">
                        <div class="row">
                           {% if page.previous.url %}
                           <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                              <div class="detials">
                                 <p>Prev Post</p>
                                 <a href="{{page.previous.url}}">
                                    <h4 style="color: #2d2d2d;">{{page.previous.title}}</h4>
                                 </a>
                              </div>
                           </div>
                           {% endif %}
                           {% if page.next.url %}
                           <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                              <div class="detials">
                                 <p>Next Post</p>
                                 <a href="{{page.next.url}}">
                                    <h4 style="color: #2d2d2d;">{{page.next.title}}</h4>
                                 </a>
                              </div>                          
                           </div>
                           {% endif %}
                        </div>
                     </div>
                  </div>
                
                  <div class="blog-author">
                     <div class="media align-items-center">
                        <img src="{{page.author.avatar_url | default:"/assets/img/blog/author.png"}}" alt="">
                        <div class="media-body">
                           <a href="#">
                              <h4>{{page.author.name | default: "N.A"}}</h4>
                           </a>
                           <p>{{page.author.biography | default:"N.A"}}</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="blog_right_sidebar">
                     <!-- <aside class="single_sidebar_widget search_widget">
                        <form action="#">
                           <div class="form-group">
                              <div class="input-group mb-3">
                                 <input type="text" class="form-control" placeholder='Search Keyword'
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                 <div class="input-group-append">
                                    <button class="btns" type="button"><i class="ti-search"></i></button>
                                 </div>
                              </div>
                           </div>
                           <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                              type="submit">Search</button>
                        </form>
                     </aside> -->

                     {%include components/category_widget.html %}
                     {%include components/recent_posts.html %}
                                             {% if page.tags %}
                   
                     {%include components/tag_cloud_widget.html %}
                     {% endif %}
                     <!-- <aside class="single_sidebar_widget instagram_feeds">
                        <h4 class="widget_title" style="color: #2d2d2d;">Instagram Feeds</h4>
                        <ul class="instagram_row flex-wrap">
                           <li>
                              <a href="#">
                                 <img class="img-fluid" src="/assets/img/post/post_5.png" alt="">
                              </a>
                           </li>
                           <li>
                              <a href="#">
                                 <img class="img-fluid" src="/assets/img/post/post_6.png" alt="">
                              </a>
                           </li>
                           <li>
                              <a href="#">
                                 <img class="img-fluid" src="/assets/img/post/post_7.png" alt="">
                              </a>
                           </li>
                           <li>
                              <a href="#">
                                 <img class="img-fluid" src="/assets/img/post/post_8.png" alt="">
                              </a>
                           </li>
                           <li>
                              <a href="#">
                                 <img class="img-fluid" src="/assets/img/post/post_9.png" alt="">
                              </a>
                           </li>
                           <li>
                              <a href="#">
                                 <img class="img-fluid" src="/assets/img/post/post_10.png" alt="">
                              </a>
                           </li>
                        </ul>
                     </aside> -->

                     {%include components/news_letter_widget.html post_url="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"%}
                                       </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Blog Area End -->
   </main>
   <footer>
      <div class="footer-wrapper section-bg2" data-background="/assets/img/gallery/footer_bg.png">
          <!-- Footer Top-->
          <div class="footer-area footer-padding">
              <div class="container">
                  <div class="row d-flex justify-content-between">
                      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                      <div class="single-footer-caption mb-50">
                          <div class="single-footer-caption mb-30">
                              <div class="footer-tittle">
                                  <div class="footer-logo mb-20">
                                      <a href="index.html"><img src="/assets/img/logo/logo2_footer.png" alt=""></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                          <div class="single-footer-caption mb-50">
                              <div class="footer-tittle">
                                  <h4>Contact Info</h4>
                                  <ul>
                                      <li>
                                          <p>Address :Your address goes here, your demo address.</p>
                                      </li>
                                      <li><a href="#">Phone : +8880 44338899</a></li>
                                      <li><a href="#">Email : info@colorlib.com</a></li>
                                  </ul>
                              </div>

                          </div>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                          <div class="single-footer-caption mb-50">
                              <div class="footer-tittle">
                                  <h4>Important Link</h4>
                                  <ul>
                                      <li><a href="#"> View Project</a></li>
                                      <li><a href="#">Contact Us</a></li>
                                      <li><a href="#">Testimonial</a></li>
                                      <li><a href="#">Proparties</a></li>
                                      <li><a href="#">Support</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                          <div class="single-footer-caption mb-50">
                              <div class="footer-tittle">
                                  <h4>Newsletter</h4>
                                  <div class="footer-pera footer-pera2">
                                  <p>Heaven fruitful doesn't over lesser in days. Appear creeping.</p>
                              </div>
                              <!-- Form -->
                              <div class="footer-form" >
                                  <div id="mc_embed_signup">
                                      <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                      method="get" class="subscribe_form relative mail_part">
                                          <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                          class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                          onblur="this.placeholder = ' Email Address '">
                                          <div class="form-icon">
                                              <button type="submit" name="submit" id="newsletter-submit"
                                              class="email_icon newsletter-submit button-contactForm"><img src="/assets/img/gallery/form.png" alt=""></button>
                                          </div>
                                          <div class="mt-10 info"></div>
                                      </form>
                                  </div>
                              </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- footer-bottom -->
          <div class="footer-bottom-area">
              <div class="container">
                  <div class="footer-border">
                      <div class="row d-flex justify-content-between align-items-center">
                          <div class="col-xl-10 col-lg-9 ">
                              <div class="footer-copy-right">
                                  <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                              </div>
                          </div>
                          <div class="col-xl-2 col-lg-3">
                              <div class="footer-social f-right">
                                  <a href="#"><i class="fab fa-twitter"></i></a>
                                  <a  href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                  <a href="#"><i class="fas fa-globe"></i></a>
                                  <a href="#"><i class="fab fa-behance"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
   <!-- Scroll Up -->
   <div id="back-top" >
         <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
   </div>

      <!-- JS here -->
   {% include blog_details/script_import.html %}
      
   </body>
</html>