<!doctype html>
<html class="no-js" lang="zxx">
<head>
  {% include blog_details/head_import.html %}
</head>

<body>
   <!--? Preloader Start -->
   {% include components/preloader.html%}
   <!-- Preloader Start -->
   <header>
      <!-- Header Start -->
      {% include components/header_menu.html %}
      <!-- Header End -->
  </header>
   <main>
      <!--? Hero Start -->
      <div class="slider-area2" >
         <div class="slider-height2 d-flex align-items-center" >
               <div class="container">
                  <div class="row">
                     <div class="col-xl-12">
                           <div class="hero-cap hero-cap2 pt-20 text-center">
                              <h2>{{page.title}}</h2>
                           </div>
                     </div>
                  </div>
               </div>
         </div>
      </div>
      <!-- Hero End -->
      <!--? Blog Area Start -->
      <section class="blog_area single-post-area section-padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 posts-list">
                  <div class="single-post">
                     <div class="feature-img">
                        <img class="img-fluid" src="{{page.image.path}}" alt="">
                     </div>
                     <div class="blog_details">
                        <h2 style="color: #2d2d2d;">{{page.subtitle|default:page.title}}
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                           <li><a href="#"><i class="fa fa-user"></i> {{ page.categories | join: ", " }}</a></li>
                           
                        </ul>
                     {{page.content}}
                     </div>
                  </div>
                  <div class="navigation-top">
                     <div class="d-sm-flex justify-content-between text-center">
                      
                        <div class="col-sm-4 text-center my-2 my-sm-0">

                           <!-- <div class="fb-share-button" 
data-href={{page.url}}
data-layout="button_count">
</div> -->
                        </div>
                        <ul class="social-icons">
                           <li>
                                                         <div class="fb-share-button" 
data-href={{page.url}}
data-layout="button_count">
</div>
<li>

<script type="IN/Share" data-url="{{page.url}}"></script>
</li>

                              <!-- <a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a></li> -->
                           <!-- <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                           <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                           <li><a href="#"><i class="fab fa-behance"></i></a></li> -->
                        </ul>
                     </div>
                     <div class="navigation-area">
                        <div class="row">
                           {% if page.previous.url %}
                           <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                              <div class="detials">
                                 <p>Prev Post</p>
                                 <a href="{{page.previous.url}}">
                                    <h4 style="color: #2d2d2d;">{{page.previous.title}}</h4>
                                 </a>
                              </div>
                           </div>
                           {% endif %}
                           {% if page.next.url %}
                           <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                              <div class="detials">
                                 <p>Next Post</p>
                                 <a href="{{page.next.url}}">
                                    <h4 style="color: #2d2d2d;">{{page.next.title}}</h4>
                                 </a>
                              </div>                          
                           </div>
                           {% endif %}
                        </div>
                     </div>
                  </div>
                
                  <div class="blog-author">
                     <div class="media align-items-center">
                        <img src="{{page.author.avatar_url | default:"/assets/img/blog/author.png"}}" alt="">
                        <div class="media-body">
                           <a href="#">
                              <h4>{{page.author.name | default: "N.A"}}</h4>
                           </a>
                           <p>{{page.author.biography | default:"N.A"}}</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4">
                  <div class="blog_right_sidebar">
                     <!-- <aside class="single_sidebar_widget search_widget">
                        <form action="#">
                           <div class="form-group">
                              <div class="input-group mb-3">
                                 <input type="text" class="form-control" placeholder='Search Keyword'
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                 <div class="input-group-append">
                                    <button class="btns" type="button"><i class="ti-search"></i></button>
                                 </div>
                              </div>
                           </div>
                           <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                              type="submit">Search</button>
                        </form>
                     </aside> -->

                     {%include components/category_widget.html %}
                     {%include components/recent_posts.html %}
                                             {% if page.tags %}
                   
                     {%include components/tag_cloud_widget.html %}
                     {% endif %}
                     <!-- <aside class="single_sidebar_widget instagram_feeds">
                        <h4 class="widget_title" style="color: #2d2d2d;">Instagram Feeds</h4>
                        <ul class="instagram_row flex-wrap">
                           <li>
                              <a href="#">
                                 <img class="img-fluid" src="/assets/img/post/post_5.png" alt="">
                              </a>
                           </li>
                           <li>
                              <a href="#">
                                 <img class="img-fluid" src="/assets/img/post/post_6.png" alt="">
                              </a>
                           </li>
                           <li>
                              <a href="#">
                                 <img class="img-fluid" src="/assets/img/post/post_7.png" alt="">
                              </a>
                           </li>
                           <li>
                              <a href="#">
                                 <img class="img-fluid" src="/assets/img/post/post_8.png" alt="">
                              </a>
                           </li>
                           <li>
                              <a href="#">
                                 <img class="img-fluid" src="/assets/img/post/post_9.png" alt="">
                              </a>
                           </li>
                           <li>
                              <a href="#">
                                 <img class="img-fluid" src="/assets/img/post/post_10.png" alt="">
                              </a>
                           </li>
                        </ul>
                     </aside> -->

                     {%include components/news_letter_widget.html post_url="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"%}
                                       </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Blog Area End -->
   </main>

    {% include components/footer.html %} 
   <!-- Scroll Up -->
   <div id="back-top" >
         <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
   </div>

      <!-- JS here -->
   {% include blog_details/script_import.html %}
      
   </body>
</html>