<!doctype html>
<html class="no-js" lang="zxx">

<head>
    {% include head_import.html %}

    {% include research_publication/head_import.html %}
</head>

<body>
    <!-- ? Preloader Start -->
    {% include components/preloader.html %}
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        {% include components/header_menu.html %}
        <!-- Header End -->
    </header>
    <!-- header end -->
    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-20 text-center">
                                <h2>{{page.hero_title}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <div class="research-publications section-padding30">
        <div class="container">
                <div class="search-container mb-50">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="input-group mb-3">
                    <input type="text" id="search-input" placeholder="Search publications by title, author, or keywords..." class="form-control">
                    <div class="input-group-append">
                        <button class="btn" type="button" id="search-btn"><i class="ti-search"></i></button>
                    <!-- <button id="clear-search" class="btn btn-secondary">Clear</button> -->
                    <!-- <button id="search-btn" class="btn btn-primary mt-3">Search</button> -->
                                        <!-- <button class="btns" type="button" id="search-button"><i class="ti-search"></i></button> -->
                                    </div>


                </div>
            </div>
        </div>
    </div>
            <div class="row">
{% for publication in site.data.research_publications %}
        <div class="col-lg-4 col-md-6 col-sm-6 publication-item" 
             data-title="{{ publication.title | downcase }}" 
             data-author="{{ publication.author | downcase }}" 
             data-abstract="{{ publication.abstract | downcase }}">
            <div class="single-cases mb-40">
                <div class="cases-img">
                    {% if publication.image and publication.image != "" %}
                        <img src="{{ publication.image }}" alt="{{ publication.title }}">
                    {% else %}
                        <img src="assets/img/gallery/case1.png" alt="{{ publication.title }}">
                    {% endif %}
                </div>
                <div class="cases-caption">
                    <h3><a href="{{ publication.google_drive_link }}" target="_blank">{{ publication.title }}</a></h3>
                    <div class="prices d-flex justify-content-between">
                        <p>Author: <span>{{ publication.author }}</span></p>
                        <p>Date: <span>{{ publication.release_date | date: "%b %Y" }}</span></p>
                    </div>
                    {% if publication.abstract %}
                    <div class="publication-abstract">
                        <p>{{ publication.abstract | truncate: 150 }}</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
            </div>

            <div id="no-results" class="text-center" style="display: none;">
        <h4>No publications found matching your search.</h4>
        <p>Try adjusting your search terms or clear the search to see all publications.</p>
    </div>

    <!-- Pagination -->
    <nav class="blog-pagination justify-content-center d-flex" id="pagination-container">
        <ul class="pagination" id="pagination">
            <!-- Pagination will be generated by JavaScript -->
        </ul>
    </nav>
        </div>
    </div>
        <!-- Featured_job_end -->
    </main>
  
    {% include components/footer.html %} 
    <!-- Scroll Up -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- Research Publication Page Script Start -->
<script>
window.searchData = [
    {% for publication in site.data.research_publications %}
    {
        "id": {{ forloop.index0 }},
        "title": {{ publication.title | jsonify }},
        "author": {{ publication.author | jsonify }},
        "abstract": {{ publication.abstract | jsonify }},
        "release_date": {{ publication.release_date | jsonify }}
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
];
</script>
{%include research_publication/script_import.html %} 

</body>

</html>